{% extends 'layout.html' %}

{% block body %}
    <main class="p-4 mt-6">
        <ul
         id="files"
         hx-get="/render-files/"
         hx-trigger="load"
         hx-target="#files"
         >
         
         

         <li class="mb-3 rounded file"> <div class="flex justify-center"> <svg viewBox="0 0 1024 1024" class="icon animate-pulse" version="1.1" width="27" height="27" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M853.333333 960H170.666667V64h469.333333l213.333333 213.333333z" class="fill-gray-500"></path><path d="M821.333333 298.666667H618.666667V96z" class="fill-gray-600"></path></g></svg> </div> <div class="mt-1"> <div class="h-3 bg-gray-600 rounded  animate-pulse w-full"> </div> </div> </li>
         <li class="mb-3 rounded file"> <div class="flex justify-center"> <svg viewBox="0 0 1024 1024" class="icon animate-pulse" version="1.1" width="27" height="27" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M853.333333 960H170.666667V64h469.333333l213.333333 213.333333z" class="fill-gray-500"></path><path d="M821.333333 298.666667H618.666667V96z" class="fill-gray-600"></path></g></svg> </div> <div class="mt-1"> <div class="h-3 bg-gray-600 rounded  animate-pulse w-full"> </div> </div> </li>
         <li class="mb-3 rounded file"> <div class="flex justify-center"> <svg viewBox="0 0 1024 1024" class="icon animate-pulse" version="1.1" width="27" height="27" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M853.333333 960H170.666667V64h469.333333l213.333333 213.333333z" class="fill-gray-500"></path><path d="M821.333333 298.666667H618.666667V96z" class="fill-gray-600"></path></g></svg> </div> <div class="mt-1"> <div class="h-3 bg-gray-600 rounded  animate-pulse w-full"> </div> </div> </li>
        </ul>
    </main>
{% endblock %}