:root{
    --dark-text:rgb(148, 163, 184);
    --dark-body-background:#0F172A;
    --dark-primary:#1E293B; 
    --dark-bold-color:#fff; /* just white text */
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body{
    background:whitesmoke;
    font-family:'Poppins',sans-serif;
    font-weight:300; 
    font-style:normal;
    min-height:100vh; /* because of some stupid tailwind cdn behaviour */
}

/* utilities */

@media(prefers-color-scheme:dark){
    .hoverable:hover{
        background: rgb(128, 128, 128, 0.1);
    }

    .page-active{
        background: rgb(128, 128, 128, 0.1);
    }

}

@media(prefers-color-scheme:dark){
    body{
        background:var(--dark-body-background) !important;
    }

    .input{
        background:var(--dark-primary) !important;
    }
}

.card{
    border:0;
    width:320px;
    cursor:pointer;
}


.card .filecount{
    font-size:15px;
}


/* card dark */
@media(prefers-color-scheme:dark){
    .card{
        background:var(--dark-primary);
        color: var(--dark-text);
    }
    
    .card .filecount{
        color: var(--dark-text) !important;
    }
}

.card:hover{
    box-shadow: 0 0 10px rgba(106, 90, 205, 0.2) !important;
}

.cards{
    display:flex; 
    gap:1rem;
}

.card .profile-image{
    width:27px; 
    aspect-ratio: 1/1;
}

/* files.css */

#files{
    padding:0 !important;
    display:flex;
    flex-wrap:wrap;
    gap:1rem;
}

.file{
    list-style:none;
    padding:0.75rem;
    width:110px;
    position:relative;
}

.file .filename{
    font-size:15px;
}

.file:hover{
    cursor:pointer;
}

.file .dots{
    position: absolute;
    right:0.25rem;
    top:0.25rem;
    padding:0.125rem;
}


.file:hover .dots .dropdown-toggle{
    opacity:1;
}
.file .dots .dropdown-toggle{
    opacity:0;
}


.dropdown-content{
    position:absolute; 
    top:2.5rem;
    padding:0.75rem;
    z-index:99;
}

.dropdown-content li{
    padding:0.25rem;
    display:flex; 
    gap:0.5rem;
    border-radius:0.5rem;
    align-items:center;
}

@media(prefers-color-scheme:dark){
    .file{
        color:var(--dark-bold-color);
    }
    
    .file:hover{
        background-color:var(--dark-primary);
        box-shadow: 0 0 10px rgba(106, 90, 205, 0.2) !important;
        transition: all ease-in-out 5ms;
    }

    .dropdown-content{
        background:var(--dark-primary);
        color:var(--dark-text);
        box-shadow: 0 0 5px rgba(106, 90, 205, 0.2);
    }

    .dropdown-content li:hover{
        background: rgb(128, 128, 128, 0.1);
    }

    .file .dots:hover{
        background: rgb(128, 128, 128, 0.1);
    }
}


/* upload file page*/
@media(prefers-color-scheme:dark){
    .file-upload{
        background:var(--dark-primary);
    }

    .input{
        background:var(--dark-primary);
    }

}
