:root{
    --dark-text:rgb(148, 163, 184);
    --dark-body-background:#0F172A;
    --dark-primary:#1E293B; 
    --dark-bold-color:#fff; /* just white text */
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body{
    background:whitesmoke;
    font-family:'Poppins',sans-serif;
    font-weight:300; 
    font-style:normal;
}

@media(prefers-color-scheme:dark){
    body{
        background:var(--dark-body-background);
    }
}

.card{
    border:0;
    width:320px;
    cursor:pointer;
}


.card .filecount{
    font-size:15px;
}


/* card dark */
@media(prefers-color-scheme:dark){
    .card{
        background:var(--dark-primary);
        color: var(--dark-text);
    }
    
    .card .filecount{
        color: var(--dark-text) !important;
    }
}

.card:hover{
    box-shadow: 0 0 10px rgba(106, 90, 205, 0.2) !important;
}

.cards{
    display:flex; 
    gap:1rem;
}

.card .profile-image{
    width:27px; 
    aspect-ratio: 1/1;
}

/* files.css */

ul{
    padding:0 !important;
    display:flex;
    gap:1rem;
}

li{
    list-style:none;
    padding:0.75rem;
    width:110px;
}

li .filename{
    font-size:15px;
}

li:hover{
    cursor:pointer;
}

@media(prefers-color-scheme:dark){
    li{
        color:var(--dark-bold-color);
    }

    li:hover{
        background-color:var(--dark-primary);
        box-shadow: 0 0 10px rgba(106, 90, 205, 0.2) !important;
    }
}

